<footer id="footer">
    <div class="inner">

        <h2>Contacto</h2>

        <div class="fila">
            <!--Formulario-->
            <div class="col">
                <input type="text" placeholder="Ingrid Alejandra Julajuj Gomez">
                <input type="text" placeholder="59337298">
                <input type="text" placeholder="alej68omez@gmail.com">
            </div>
        </div>

        <div class="copyright">
            &copy;Proyecto Parcial</a>.
        </div>

    </div>
</footer>