<footer id="footer">
    <div class="inner">

        <h2>Contacto</h2>

        <div class="fila">
            <!--Formulario-->
            <div class="col">
                <input type="text" placeholder="Ingrid Alejandra Julajuj Gomez">
                <input type="text" placeholder="2290 - 20- 10758">
                <input type="text" placeholder="ijulajujg@miumg.edu.gt">
            </div>
        </div>

        <div class="copyright">
            &copy;Proyecto Parcial</a>
        </div>

    </div>
</footer>