<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Portafolio</title>
    <link rel="stylesheet" href="assets/css/enormalize.css">
    <link rel="stylesheet" href="assets/css/Inicio.css">



</head>

<body>
    <!--Encabezado-->
    {{>navbar}}


    <!--seccion inicio-->
    <section id="Inicio" class="Inicio">
        <div class="contenido-banner">
            <div class="contenedor-img">
                <img src="/img/heades.jpg" alt="" height="250px">
            </div>
            <h1>Alejandra Gomez</h1>
            <h2>Ingeniera en Sistemas</h2>
            <div class="redes">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
            </div>
        </div>
    </section>

    <!--Sobre mi-->
    <section id="sobremi" class="sobremi">
        <div class="contenido-seccion">
            <h2>Sobre Mí</h2>
            <p><span>Mi nombre es Ingrid Alejandra Julajuj Gomez</span> Soy estudiante de Ingenieria en sistemas.
                Me considero una personas responsable, enfocada en su trabajo y en hacer las cosas bien, estoy
                acostumbrada a
                trabajar bajo presión, de manera individual y grupal cuando es requerido</p>

            <div class="fila">
                <!--datos personales-->
                <div class="col">
                    <h3>Datos personales</h3>
                    <ul>
                        <li>
                            <strong>Fecha de Nacimiento</strong>
                            0*/0*/200*
                        </li>
                        <li>
                            <strong>Teléfono</strong>
                            5933****
                        </li>
                        <li>
                            <strong>Email</strong>
                            *****@gmail.com
                        </li>
                        <li>
                            <strong>Direccion</strong>
                            San Lucas Toliman
                        </li>
                    </ul>
                </div>

                <!--Intereses-->
                <div class="col">
                    <h3>Intereses</h3>
                    <div class="contenedor-intereses">
                        <div class="intereses">
                            <i class="fa-solid fa-book"></i>
                            <span>LEER</span>
                        </div>
                        <div class="intereses">
                            <i class="fa-solid fa-gamepad"></i>
                            <span>JUEGOS</span>
                        </div>
                        <div class="intereses">
                            <i class="fa-solid fa-plane"></i>
                            <span>VIAJAR</span>
                        </div>
                    </div>
                </div>
            </div>
            <button>
                Descargar CV <i class="fa-solid fa-download"></i>
                <span class="overlay"></span>
            </button>
        </div>
    </section>

    <!--Seccion habilidades-->
    <section class="skills" id="skills">
        <div class="contenido-seccion">
            <h2>Habilidades</h2>
            <div class="fila">
                <!--Habilidades Profesionales-->
                <div class="col">
                    <h3>Habilidades Profesionales</h3>
                    <div class="skill">
                        <span>Trabajo bajo presion</span>
                        <div class="barra-skill">
                            <div class="progreso trabajo">
                                <span>80%</span>
                            </div>
                        </div>
                    </div>

                    <div class="skill">
                        <span>Comunicacion</span>
                        <div class="barra-skill">
                            <div class="progreso comunicacion">
                                <span>65%</span>
                            </div>
                        </div>
                    </div>

                    <div class="skill">
                        <span>Ética</span>
                        <div class="barra-skill">
                            <div class="progreso etica">
                                <span>100%</span>
                            </div>
                        </div>
                    </div>

                    <div class="skill">
                        <span>Dedicacion</span>
                        <div class="barra-skill">
                            <div class="progreso dedicacion">
                                <span>90%</span>
                            </div>
                        </div>
                    </div>

                    <div class="skill">
                        <span>Trabajo en Equipo</span>
                        <div class="barra-skill">
                            <div class="progreso equipo">
                                <span>90%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Techniccal skills-->
                <div class="col">
                    <h3>Habilidades Tecnicas</h3>
                    <div class="skill">
                        <span>JAVA</span>
                        <div class="barra-skill">
                            <div class="progreso java">
                                <span>40%</span>
                            </div>
                        </div>
                    </div>

                    <div class="skill">
                        <span>NodeJs</span>
                        <div class="barra-skill">
                            <div class="progreso nodes">
                                <span>40%</span>
                            </div>
                        </div>
                    </div>

                    <div class="skill">
                        <span>HTML & CSS</span>
                        <div class="barra-skill">
                            <div class="progreso htmlcss">
                                <span>50%</span>
                            </div>
                        </div>
                    </div>

                    <div class="skill">
                        <span>C++ & C.NET</span>
                        <div class="barra-skill">
                            <div class="progreso cnet">
                                <span>50%</span>
                            </div>
                        </div>
                    </div>

                    <div class="skill">
                        <span>SQL SERVER</span>
                        <div class="barra-skill">
                            <div class="progreso server">
                                <span>60%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Seccion Curriculum-->
    <section id="Curriculum" class="Curriculum">
        <div class="contenido-seccion">
            <h2>Curriculum</h2>
            <div class="fila">
                <div class="col izquierda">
                    <h3>Educacion</h3>
                    <div class="ite izq">
                        <h4>Ingeniería en Sistema de la Informacion</h4>
                        <span class="casa">Universidad Mariano Galvez de Guatemala</span>
                        <span class="fecha">2,020 - 2,024</span>
                        <p>Ciclo universitario estudiantil en carrera de informatica,
                            adquiriendo conocimientos base a cerca de lenguajes de programacion,
                            redes y profesionalismo.
                        </p>
                        <div class="conectori">
                            <div class="circuloi"></div>
                        </div>
                    </div>

                    <div class="ite izq">
                        <h4>Bachiller en Ciencias y Letras con Orientacion en Electricidad</h4>
                        <span class="casa">Centro Educativo Santo Domingo</span>
                        <span class="fecha">2,017 - 2,019</span>
                        <p>Educacion diversificada en el cual adquiri conocimiento base en el ambito de la
                            Electricidad, realizando practicas del mismo y poniéndo en practicas los conocimientos
                            adquiridos
                        </p>
                        <div class="conectori">
                            <div class="circuloi"></div>
                        </div>
                    </div>

                    <div class="ite izq">
                        <h4>Tecnico en Programacion</h4>
                        <span class="casa">Academia de computacion Toliman</span>
                        <span class="fecha">2,015 - 2,016</span>
                        <p>Tecnico en el que iniciaron mis primeros conocimientos en la programacion,
                            trabajando con visualBasic, c#, VisualFox y otros
                        </p>
                        <div class="conectori">
                            <div class="circuloi"></div>
                        </div>
                    </div>
                </div>

                <div class="col derecha">
                    <h3>Experiencia Laboral</h3>
                    <div class="ite der">
                        <h4>Lenguaje Java</h4>
                        <span class="casa">Juego Bancopoly</span>
                        <p>Juego elaborado en Netbeans, lenguaje Java,
                            contiene el tablero, los usuarios y las opciones generales del juego
                        </p>
                        <div class="conectori">
                            <div class="circulod"></div>
                        </div>
                    </div>

                    <div class="ite der">
                        <h4>Lenguaje C.Net</h4>
                        <span class="casa">Bitacora de Datos</span>
                        <p>Programa elaborado en visual studio 2,022 con conexion a base de Datos
                            SQL, los datos se guardan en tablas dando al usuario la seguridad
                            de que su informacion tendra una copia fiel de los mismos
                        </p>
                        <div class="conectori">
                            <div class="circulod"></div>
                        </div>
                    </div>

                    <div class="ite der">
                        <h4>SQL server</h4>
                        <span class="casa">Base de Datos de Zoologico</span>
                        <p>Base de datos de un zoologico que permite a la parte administrativa tener
                            un mejor control sobre los trabajadores y mantenimiento del lugar
                        </p>
                        <div class="conectori">
                            <div class="circulod"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <hr>
    <!--Seccion Portafolio-->
    <!-- One -->
    <section id="portfolio" class="portfolio" data-bg="/img/PortadaBancopoly.png">
        <div class="inner">
            <article class="box">
                <header>
                    <h2>Bancopoly</h2>
                    <h3>Programacion II</h3>
                </header>
                <div class="content">
                    <p>Para este proyecto se realizó un juego de mesa virtual llamado "Bancopoly",
                        siendo similar a Monopoly, este juego fue realizado en Netbeans junto a Java</p>
                </div>
                <footer>
                    <button id="proyecto1">Ver</button>
                </footer>
            </article>
        </div>
    </section>

    <hr>
    <!-- Two -->
    <section id="portfolio" class="portfolio" data-bg="/img/IngresoBitac.png">
        <div class="inner">
            <article class="box">
                <header>
                    <h2>Llamado a Procesos</h2>
                    <h3>Sistemas Operativos II</h3>
                </header>
                <div class="content">
                    <p>Este proyecto fue realizado en el curso de Sistemas Operativos II, con el fin de poder visualizar distintas
                                herramientas de monitoreo de nuestr PC</p>
                </div>
                <footer>
                    <button id="proyecto2">Ver</button>
                </footer>
            </article>
        </div>
    </section>

    <hr>
    <!-- Three -->
    <section id="portfolio" class="portfolio" data-bg="/img/MRU.png">
        <div class="inner">
            <article class="box">
                <header>
                    <h2>WebServer</h2>
                    <h3>Desarrollo Web</h3>
                </header>
                <div class="content">
                      <p>Este proyecto fue realizado en el curso de desarrollo web, trata de una pagina cargada como tal en Railway y GitHub</p>
                    <p>En este proyecto, se aprendió a trabajar con rutas para poder hacer llamados de una pagina a otra</p>
                </div>
                <footer>
                    <button id="proyecto3">Ver</button>
                </footer>
            </article>
        </div>
    </section>

    <hr>
    <!-- Four -->
    <section id="portfolio" class="portfolio" data-bg="/img/java.png">
        <div class="inner">
            <article class="box">
                <header>
                    <h2>Conexion a MongDB</h2>
                    <h3>Desarrollo Web</h3>
                </header>
                <div class="content">
                    <p>Para este proyecto se realizo la conexion a MongoDB por medio de VisualCode, permite la inserccion de Datos
                                por medio de metodos a travez de datos JSON  </p>
                </div>
                <footer>
                    <button id="proyecto4">Ver</button>
                </footer>
            </article>
        </div>
    </section>

    <hr>
    <!-- Five -->
    <section id="portfolio" class="portfolio" data-bg="/img/java.png">
        <div class="inner">
            <article class="box">
                <header>
                    <h2>Tablas de multiplicar con Yargs</h2>
                    <h3>Desarrollo Web</h3>
                </header>
                <div class="content">
                     <p>Para este proyecto se realizaron aplicaciones de Yargs y Colors, que nos ayudaron a darle color y forma a nuestra aplicacion
                        Este proyecto consistia en Crear "Baderines" o bien reglas que permitieran solicitar la tabla de multiplicar que deseamos ver y la cantidad a la que deseabamos llegar
                    </p>
                <footer>
                    <button id="proyecto5">Ver</button>
                </footer>
            </article>
        </div>
    </section>

    <hr>
    <!--Seccion Contacto-->
    {{>footer}}


    <!--sscript llamados-->

    <link rel="stylesheet" href="./assets/carpeta.js/java.js">


    <!--Proyecto 1-->
    <script>
        document.getElementById('proyecto1').addEventListener('click', function () {
            window.location.href = '/proyecto1'; // La ruta deseada 
        });
    </script>

    <!--Proyecto 2-->
    <script>
        document.getElementById('proyecto2').addEventListener('click', function () {
            window.location.href = '/proyecto2'; // La ruta deseada 
        });
    </script>

    <!--Proyecto 3-->
    <script>
        document.getElementById('proyecto3').addEventListener('click', function () {
            window.location.href = '/proyecto3'; // La ruta deseada
        });
    </script>

    <!--Proyecto 4-->
    <script>
        document.getElementById('proyecto4').addEventListener('click', function () {
            window.location.href = '/proyecto4'; // La ruta deseada 
        });
    </script>

    <!--Proyecto 5-->
    <script>
        document.getElementById('proyecto5').addEventListener('click', function () {
            window.location.href = '/proyecto5'; // La ruta deseada 
        });
    </script>

<!--vuelta-->



    </section>
    </div>


</body>

</html>